body {
    padding: 25px;
    background-color: #94c4d1;
    color: #25637b;
    text-align: center;
    border: 2px solid #25637b;
  }
  
  .dark-mode {
     background-color: #25637b; 
     color: #94c4d1;
  }

  div {
    margin: 10px auto;
  }

  h1 {
    font-size: 25px;
    margin: 15px auto;
  }

  .btn {
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
  }

  img {
    display: block;
    margin: 0 auto;
    border-radius: 15px;
  }

  p {
    margin-top: 15px;
    font-size: 18px;
  }